Repository ipdk-io/krnlmon, pull requests merged in 2023-11, with the labels that each got.

#71 Simplify logic to define SAI_INCLUDE_DIR
  CMakeLists.txt
Labels: bug, trivial effort, cmake

#70 Add clang-format check
  .github/workflows/pipeline.yml
Labels: minor effort, github actions

#72 Implement dpdk_build_check
  .github/workflows/pipeline.yml
Labels: minor effort, github actions

#73 Krnlmon support for linux networking version 2
  switchapi/es2k/switch_fdb.c
  switchapi/es2k/switch_pd_fdb.c
  switchapi/es2k/switch_pd_fdb.h
  switchapi/es2k/switch_pd_p4_name_mapping.h
  switchapi/es2k/switch_pd_utils.c
  switchapi/es2k/switch_pd_utils.h
  switchapi/switch_fdb.h
  switchlink/switchlink_link.c
  switchlink/switchlink_route.c
Labels: medium effort

#75 Krnlmon fixes for LAG and ECMP defects
  switchapi/es2k/switch_pd_fdb.c
  switchapi/es2k/switch_pd_lag.c
  switchapi/es2k/switch_pd_p4_name_mapping.h
  switchapi/es2k/switch_pd_routing.c
Labels: minor effort

#74 Enable Dependabot scanning
  .github/dependabot.yml
Labels: trivial effort, github_actions
