Repository ipdk-io/krnlmon, pull requests merged in 2023-10, with the labels that each got.

#58 Switchlink unit test maintenance
  switchlink/switchlink_address_test.cc
  switchlink/switchlink_link_test.cc
  switchlink/switchlink_neigh_test.cc
  switchlink/switchlink_route_test.cc
Labels: minor effort

#61 Add support for include-what-you-use
  CMakeLists.txt
  cmake/iwyu.cmake
Labels: trivial effort, cmake

#56 Standalone krnlmon build
  CMakeLists.txt
  cmake/standalone.cmake
  libkrnlmon.pc.in
  switchapi/CMakeLists.txt
  switchlink/CMakeLists.txt
  switchlink/sai/CMakeLists.txt
  switchsai/CMakeLists.txt
Labels: minor effort, cmake

#54 Lag support in P4-CP
  switchapi/CMakeLists.txt
  switchapi/es2k/CMakeLists.txt
  switchapi/es2k/switch_device.c
  switchapi/es2k/switch_fdb.c
  switchapi/es2k/switch_lag.c
  switchapi/es2k/switch_neighbor.c
  switchapi/es2k/switch_pd_fdb.c
  switchapi/es2k/switch_pd_lag.c
  switchapi/es2k/switch_pd_lag.h
  switchapi/es2k/switch_pd_p4_name_mapping.h
  switchapi/es2k/switch_pd_routing.c
  switchapi/es2k/switch_pd_utils.c
  switchapi/switch_lag.h
  switchapi/switch_nhop_int.h
  switchlink/sai/CMakeLists.txt
  switchlink/sai/switchlink_handle_lag.c
  switchlink/sai/switchlink_init_sai.c
  switchlink/sai/switchlink_init_sai.h
  switchlink/switchlink.h
  switchlink/switchlink_address.c
  switchlink/switchlink_db.c
  switchlink/switchlink_db.h
  switchlink/switchlink_db_int.h
  switchlink/switchlink_handle.h
  switchlink/switchlink_link.c
  switchlink/switchlink_link.h
  switchlink/switchlink_link_test.cc
  switchlink/switchlink_neigh.c
  switchlink/switchlink_route.c
  switchsai/CMakeLists.txt
  switchsai/sai.c
  switchsai/sailag.c
Labels: enhancement, major effort

#66 Improve support for standalone builds
  cmake/standalone.cmake
Labels: minor effort, cmake

#68 Implement Krnlmon CI pipeline
  .github/workflows/pipeline.yml
  README.md
Labels: medium effort
